@model TestTaskPizza.Models.Product

@{
    ViewBag.Title = "Изменение продукта";
}

<h3>Изменение продуктов</h3>


@using (Html.BeginForm("Edit", "Product", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    Html.HiddenFor(model => model.Id);

    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <div class="form-group">
        @Html.LabelFor(model => model.Name)
        @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", placeholder = "Введите название продукта" } })
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Balance)
        @Html.EditorFor(model => model.Balance, new { htmlAttributes = new { @class = "form-control", placeholder = "Колличество продукта" } })
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.MinBalance)
        @Html.EditorFor(model => model.MinBalance, new { htmlAttributes = new { @class = "form-control", placeholder = "Когда пора заказывать ещё" } })
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.SellPrice)
        @Html.EditorFor(model => model.SellPrice, new { htmlAttributes = new { @class = "form-control", placeholder = "Продажная цена" } })
    </div>
    <div class="form-group form-check">
        @Html.LabelFor(model => model.IsInteger)
        @Html.EditorFor(model => model.IsInteger, new { htmlAttributes = new { @class = "form-check-label" } })
    </div>
    <div class="form-check">
        @Html.LabelFor(model => model.IsFilling)
        @Html.EditorFor(model => model.IsFilling, new { htmlAttributes = new { @class = "form-check-label" } })
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.ImagePath)
        <input type="file" name="file" value="@Model.ImagePath"/>
    </div>

    <input type="submit" value="Сохранить" class="btn btn-primary" />
}