@model TestTaskPizza.Models.Dish

@{
    ViewBag.Title = "Создаём блюдо!";
}

<h3>Создание блюда по рецепту (или по рецептам)</h3>

@using (Html.BeginForm("Create", "Dishes", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Group, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.GroupId, ViewBag.Groups as SelectList, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.GroupId, "", new { @class = "text-danger" })
            </div>
        </div>
        @foreach (var receptID in Model.Recipes)
        {
            <div class="form-group">
                @Html.LabelFor(model => model.Recipes, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("Rec", ViewBag.Recipes as SelectList, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Recipes, "", new { @class = "text-danger" })
                </div>
            </div>
        }
        @Html.ActionLink("Добавить рецепт (для комбо наборов)", "AddRecipe", "Dishes", null, null)
        <br />
        @Html.ActionLink("Убрать рецепт", "DeleteRecipe", "Dishes", null, null)

        <div class="form-group">
            <fieldset>
                @Html.LabelFor(model => model.ImagePath)

                <input type="file" name="file" />
            </fieldset>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Создать" class="btn btn-primary" />
                </div>
            </div>
        </div>

        <div>
            @Html.ActionLink("Back to List", "Index")
        </div>
    </div>
}