@model TestTaskPizza.Models.Dish

@{
    ViewBag.Title = "Подробности";
}

<div>
    <h3>Блюдо</h3>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Group)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Group.FullName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Recipes)
        </dt>
        <dd>
            @ViewBag.receptsName
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
